@charset "ISO-8859-1";

table, th {
	width: 50%;
	padding: 15px;
	text-align: center;
}

table {
	backdrop-filter: blur(10px);
}

.center {
	margin-left: auto;
	margin-right: auto;
}

th, td {
	border: solid 1px #7FFF00;
	padding: 10px;
	border-color: #7FFFD4;
}

th {
	color: #FFFF00;
}

td {
	color: white;
}

body {
	font-family: Arial, sans-serif;
	background:
		url('https://thumbs.dreamstime.com/b/tile-floor-brick-wall-background-lights-night-hd-image-large-resolution-can-be-used-as-desktop-wallpaper-real-zise-184215885.jpg')
		no-repeat;
	background-size: cover;
	height: 100vh;
}

h1 {
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: #06D85F;
	float: center;
}

.box {
	width: 40%;
	margin: 0 auto;
	background: rgb(44 15 15/ 20%);
	padding: 25px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
	backdrop-filter: blur(10px);
}

label {
	display: block;
	margin-right: 15px;
	font-size: 18px;
	font-weight: 500;
	color: #DCDCDC;
}

input {
	display: white;
	height: 30px;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.07);
	border-radius: 40px;
	padding: 0 10px;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 300;
	border-bottom-color: currentcolor;
	color: white;
}

.back {
	font-size: 10px;
	width: 5%;
	position: absolute;
	top: 5%;
	left: 5%;
}

.gg-arrow-left-r {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	border: 2px solid;
	transform: scale(var(- -ggs, 1));
	border-radius: 4px
}

.gg-arrow-left-r::after, .gg-arrow-left-r::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	left: 4px
}

.gg-arrow-left-r::after {
	width: 6px;
	height: 6px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	transform: rotate(45deg);
	bottom: 6px
}

.gg-arrow-left-r::before {
	width: 10px;
	height: 2px;
	bottom: 8px;
	background: currentColor
}

.button3 {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 20px;
	color: crimson;
	margin-top: 10px;
	background-color: black;
	margin-left: 2px;
	border-radius: 10px;
	height: 37px;
	width: 25px;
}