@charset "ISO-8859-1";

body {
	background-image:
		url('https://media.istockphoto.com/photos/9mm-pistol-bullets-and-handgun-picture-id1055138416?k=20&m=1055138416&s=612x612&w=0&h=TwMDG0SGozocSZdirGndyS3OdqbBDBLo1chRP8rsbZw=');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

h1 {
	color: red;
	text-align: center;
	height: 43px;
	width: 289px;
	margin-left: 500px;
	border-radius: 10px;
}

tr {
	color: red;
}

label {
	color: black;
	font-size: 1.3em;
	display: flex;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
	margin-top: 10px;
	text-align: center;
	float: center;
	margin-left: 180px;
}

#log {
	width: 78px;
	height: 38px;
	border: black;
	border-radius: 3px;
	padding-left: 8px;
	color: white;
	background-color: maroon;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin-top: 43px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.box {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 30px;
	margin: auto;
	padding: 10px;
	text-align: center;
	float: center;
	font-weight: 900;
	width: 500px;
	margin-top: 100px;
	backdrop-filter: blur(10px);
}

input[type=text] {
	height: 29px;
	margin-top: 27px;
}

input[type=submit] {
	margin-top: 22px;
	height: 37px;
	width: 54px
}

.back {
	font-size: 10px;
	width: 5%;
	position: absolute;
	top: 5%;
	left: 5%;
}

.gg-arrow-left-r {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	border: 2px solid;
	transform: scale(var(- -ggs, 1));
	border-radius: 4px
}

.gg-arrow-left-r::after, .gg-arrow-left-r::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	left: 4px
}

.gg-arrow-left-r::after {
	width: 6px;
	height: 6px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	transform: rotate(45deg);
	bottom: 6px
}

.gg-arrow-left-r::before {
	width: 10px;
	height: 2px;
	bottom: 8px;
	background: currentColor
}

.button3 {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 20px;
	color: crimson;
	margin-top: 10px;
	background-color: black;
	margin-left: 2px;
	border-radius: 10px;
	height: 37px;
	width: 25px;
}